td{
  color:red;
  font-style: italic;
  /*background-color: orange;*/
  text-align: center;
}

th:hover{
  color:blue;
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: blue;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: red;
  text-align: center;
}

li {
  font-style: italic;
  text-align: left;
}

div.image {
  background-image:url(http://www.weareamericanauthors.com/wp-content/themes/weareamericanauthors_weareamericanauthors/images/album.png);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: red;
  text-align: center;
}

a:hover {
  background-color: lime;
  text-decoration: underline;

}

a {
  text-decoration: none;
}

.table {
  text-align: center;
}
