h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color:red;
  font-style: italic;
  text-align: center;
}

h4 {
  color:navy;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-style: italic;
}

div {
  color:purple;
  font-family:monospace;
  font-style: italic;
  text-align: left;
  padding-left: 50px;
}

a {
  padding-left: 50px;
  text-decoration: none;
  color: navy;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: pink;
}
